<section class='container mx-auto max-w-6xl'>
	<div class='container'>
		<h1>About Me</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis optio
			dolores natus, amet omnis, minus rem numquam atque ut quis eum! Fugit
			aliquid molestias voluptates id, repudiandae ea tenetur quibusdam.
		</p>
	</div>
	<div class='container'>
		<h1>Connect With Me</h1>
		<p>email</p>
		<!-- social links -->
	</div>
</section>"
