<section class='container mx-auto max-w-6xl'>
	<footer>
		<div class='container'>
			<h1>Caleb Morse</h1>
			<p>Software Engineer</p>
			<!-- Social Links -->
			<!-- Copyright -->
		</div>
	</footer>
</section>
