<!-- @todo create object for data --><!-- @todo create button component --><!-- @todo create social links component -->
<section class='container mx-auto max-w-6xl h-screen'>
	<div class='flex justify-center'>
		<div class='container'>
			<h1>Caleb Morse</h1>
			<p>Software Engineer</p>
			<!-- @todo add social links -->
			<!-- @todo add button linked to portfolio -->
		</div>
		<div class='container'>
			<div>Avatar Image Goes Here</div>
		</div>
	</div>
</section>
