<section class='container mx-auto max-w-6xl'>
	<h1>Technical Skills</h1>
	<div class='container'>
		<h2>Main Stack:</h2>
		<div class='container'>
			<!-- list of skills here -->
		</div>
	</div>
	<div class='container'>
		<h2>Additional Skills:</h2>
		<div class='container'>
			<!-- list of skills here -->
		</div>
	</div>
</section>
